future~=0.18.2
google
google-cloud
google-cloud-bigquery
google-cloud-bigquery-storage
prefixspan
pymining
pytrie

pandas
fastparquet
db-dtypes
pyarrow~=18.0

jinja2

# bigquery progress bar
tqdm